.col-md-6.col-md-offset-1.dashboard-main-content
  %div{"data-animation" => "fadeInUp-fadeOutDown"}
    .heading-container
      - if admin_signed_in?
        = feature_tag_button_for(@dashboard.tag)
      - else
        = follow_tag_button_for(@dashboard.tag)
      %small.heading-prefix Tagged in
      %h3.heading-title= @dashboard.tag.name
    .tag-followers-list
      %small.heading-prefix
        People Interested in #{@dashboard.tag.name}
      = react_component('TagFollowersList', { tagId: @dashboard.tag.id })
  .posts-wrapper{"data-animation" => "fadeInUp-fadeOutDown", "data-behavior" => "endless-scroll"}
    = render @dashboard.posts
  = will_paginate @dashboard.posts
- content_for :sidebar do
  %aside.col-md-4.main-sidebar
    - if @related_tags.any?
      %h4.small-heading.border-top Related Tags
      = react_component('TagList', { tags: @related_tags })
    - if user_signed_in?
      .flex-container.border-top
        %h4.small-heading Tags you follow
        = react_component('AddTagButton')
      = react_component('FollowingTagList', { followingTags: current_user.following_tags })
    - unless @dashboard.filtered?
      %h4.small-heading.border-top Top stories
      .sidebar-top-stories
        %ul
          - @dashboard.top_stories.each_with_index do |post, index|
            %li.top-stories-list-item
              .count-button-wrapper
                %span.count-button= index + 1
              .top-stories-links
                = link_to post.title, post, class: 'post-title'
                %br/
                %small
                  = react_component("PopoverLink", { user_id: post.user.id, url: user_path(post.user), children: post.username })
