= form_for post, html: { multipart: true, class: "editor-form", data: { page: 'main-editor' }, autocomplete: "off" } do |f|
  %label.picture_upload
    = f.file_field :picture
    %i.fa.fa-camera
  .file-upload-previewer.hidden
    %img#image_preview{:src => ""}/
  - if post.picture?
    #existing-img-previewer.existing-img-previewer
      = image_tag post.picture.url(:thumb)
  .form-group
    = f.text_field :title, class: 'editor-title', placeholder: 'Title', autofocus: true, data: { behavior: "autosave" }, onfocus: "this.value = this.value;"
  .form-group
    = f.text_area :body, class: 'medium-editable', data: { behavior: "autosave" }
  .hidden
    = f.text_field :all_tags
