.post-panel
  - if user_signed_in?
    = render partial: 'posts/feed_metadata', locals: { post: PostDecorator.new(post, current_user) }
  = render partial: 'posts/post_metadata', locals: { post: post }
  - if post.picture?
    .post-picture-wrapper
      = image_tag post.picture.url(:thumb)
  .main-body
    %h3.post-title= link_to post.title, post
    - if post.lead
      .post-body= truncate(remove_javascript(post.lead), length: 150, separator: ' ', escape: false)
      = link_to "Read more", post, class: 'read-more'
  .post-stats.clearfix
    .pull-left
      = render partial: 'posts/likes', locals: { post: post }
    .pull-right
      = render partial: 'posts/bookmarks', locals: { post: post }
    .response-count.pull-right
      - if post.responses_count > 0
        = link_to (pluralize(post.responses_count, "response")), post_path(post, anchor: 'responses'), class: 'response-count'
