.row{"data-animation" => "fadeInUp-fadeOutDown"}
  #main-post.col-xs-10.col-md-8.col-md-offset-2.col-xs-offset-1.main-content
    - if admin_signed_in?
      = feature_post_button_for(@post)
    .pull-right
      = render partial: 'posts/social_share', locals: { post: @post }
    = render 'post_metadata', post: @post
    - if @post.picture?
      .post-picture-wrapper
        = image_tag @post.picture.url(:thumb)
    %h3.title= @post.title
    .body
      %p= remove_javascript(@post.body).html_safe
    .post-tags
      - @post.tags.each do |tag|
        = link_to tag.name, tag, class: 'tag'
    .post-stats.clearfix
      .pull-left
        = render partial: 'posts/likes', locals: { post: @post }
      .pull-left
        = link_to post_path(@post, anchor: 'responses'), class: "response-icon-wrapper" do
          %i.fa.fa-comment-o
          %span.response-count{"data-behavior" => "response-count"}= @post.responses_count
      .pull-right
        = render partial: 'posts/bookmarks', locals: { post: @post }
    .author-info
      %div{:clas => "author-metadata"}
        = avatar_for @post.user, size: 50
        .username-description
          %h4= @post.user.username
          %p= @post.user.description
      = follow_button_for @post.user
    - if user_signed_in? && current_user?(@post.user)
      .edit-delete-button-wrapper
        = link_to "Edit", edit_post_path(@post), class: 'button'
        = link_to "Delete", post_path(@post), method: :delete, class: 'button'
.post-show-footer.row{"data-animation" => "fadeInUp-fadeOutDown"}
  - if @related_posts.any?
    .col-xs-10.col-md-6.col-xs-offset-1.col-md-offset-3.main-content.related-stories
      %h4.small-heading Related stories
      - @related_posts.each do |post|
        = render partial: 'posts/post_list_item', locals: { post: post }
  #responses.col-xs-10.col-md-6.col-xs-offset-1.col-md-offset-3.main-content
    %h4.small-heading Responses
    - if user_signed_in?
      = render partial: 'posts/response_editor', locals: { post: @post }
    %div{"data-behavior" => "responses-list"}
      - if @responses.any?
        = render @responses
= render partial: 'posts/metadata_bar', locals: { post: @post }
