%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid.col-md-10.col-md-offset-1
    .navbar-header
      = link_to root_path, class: "navbar-brand", id: "logo" do
        = image_tag('stories-logo.svg', height: 40, alt: "Stories")
    %ul.nav.navbar-nav.filter-links
      %li
        %a{"data-behavior" => "editor-message", :href => "#"}
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li.publish-button
          %button.button.green-border-button.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            Publish
            %i.fa.fa-chevron-down
          %ul.dropdown-menu.publish-dropdown.nav-dropdown
            %span.dropdown-arrow-top
            %span.dropdown-arrow-bottom
            %div
              %h4 Ready to Publish your work?
              %p Add tags to reach more people
              .clearfix{"data-behavior" => "tags", "data-tags" => "#{@post.all_tags}"}
                #js-taggle{"data-behavior" => "autosave", :style => "position: relative;"}
            %hr/
            %div
              %button.button.green-border-button.pull-right{"data-behavior" => "publish-button"} Publish
        %li#notifications
          = react_component('NotificationsContainer', {})
        = render 'layouts/avatar_dropdown'
