!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Stories
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.png', type: 'image/png'
    = favicon_link_tag 'stories-icon-apple-touch-180x180.png', rel: 'apple-touch-icon', type: 'image/png'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %body{:class => "#{controller.controller_name} #{controller.action_name}"}
    = render 'layouts/overlay' unless user_signed_in?
    .progress-bar{"data-behavior" => "progress-bar"}
    = render 'layouts/simple_header'
    = render 'layouts/alert_messages'
    .container-fluid
      = yield
      = yield :sidebar
  :javascript
    window.userSignedIn = #{user_signed_in?};
